{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<hr>
<h3>{{ message }}</h3>

<address>
    <strong>Twiter:</strong>   <a href="https://twitter.com/PortableMoose">twitter.com</a><br />
    <strong>YouTube:</strong>   <a href="https://www.youtube.com/portablemoose">www.youtube.com</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/portablemoose/">www.instagram.com</a><br />
    <strong>Discord:</strong> <a href="https://discord.com/invite/dzdBCCX">discord.com</a>
</address>

<address>
    <strong>Официальный сайт:</strong>   <a href="https://www.portablemoose.com">portablemoose.com</a><br />
</address>

{% endblock %}
