{% extends "app/layout.html" %}

{% block content %}

<h2>Видео</h2>
<hr>

<div class="jumbotron">
    <h2>Видео 1</h2>
    <video src="/media/app/static/app/content/postVideo/video1.mp4" controls="controls" width="960" height="540" poster="/media/app/static/app/content/postVideo/poster1.png" />

    <!--<h2>Видео 2</h2>
    <video src="/media/app/static/app/content/postVideo/video2.mp4" controls="controls" width="" height="" poster="/media/app/static/app/content/postVideo/poster2" />-->
</div>

{% endblock %}